global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: 'cardapiogo'
    metrics_path: '/api/v1/metrics'
    static_configs:
      - targets: ['localhost:8080']